{% extends '::base.html.twig' %}

{% block left_menu -%}
    <a class="btn btn-default" href="{{ path('nmm_navitiaio_user') }}">
        <span class="glyphicon glyphicon-arrow-left"></span> 
        {{'customer.list'|trans}}
    </a>
{% endblock %}

{#
{% form_theme form _self %}
{% block _customer_applications_widget %}
    {{ form_errors(form) }}
    {% for child in form %}
        {% if form.multiple is defined %}
            {{ checkbox_row(child, { 'no_form_group': true }) }} 11111
        {% else %}
            {{ radio_row(child, { 'no_form_group': true }) }}
            {{ dump(child) }}
        {% endif %}
    {% endfor %}
{% endblock %}
#}

{% block main_content %}

    <h1>{{ title|trans }}</h1>
    <hr/>

    {{ form_start(form, { 'style': 'horizontal' }) }}
        {{ form_row(form.name) }}

        {{ form_row(form.email) }}

        <div class="form-group row">
            {{ form_label(form.perimeters) }}
            <div class="col-lg-10 perimeters" data-prototype="{{ include('CanalTPSamCoreBundle:Customer:_perimeter-prototype.html.twig', { 'perimeter': form.perimeters.vars.prototype})|e }}">
            {% for perimeter in form.perimeters %}
                {% include "CanalTPSamCoreBundle:Customer:_perimeter-prototype.html.twig" %}
            {% endfor %}
            </div>
        </div>

        {{ form_widget(form._token) }}
        <button id="add-perimeter" type="submit" class="btn btn-default">{{ 'form.save'|trans }}</button>

    <hr/>

    <script>
        require(['nmm/form/perimeter'], function(perimeterForm){
            perimeterForm.init();
        });
    </script>

{% endblock %}
