{% extends "CanalTPSamCoreBundle::generic_list.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets 'bundles/canaltpsamcore/css/customer.css' %}
         <link rel="stylesheet" href="{{ asset_url }}?{{ assets_version }}" />
    {% endstylesheets %}
{% endblock %}

{% block left_menu -%}
{#    {% if (is_granted('BUSINESS_MANAGE_NAVITIA_USER')) %}#}
        <a class="btn btn-primary" href="{{ path('nmm_navitiaio_new') }}">
            <span class="glyphicon glyphicon-plus"></span>
            {{'navitiaUser.new.title'|trans}}
        </a>
{#    {% endif %}#}
{% endblock %}

{% block table_head -%}
    <th>{{ 'navitiaUser.name'|trans }}</th>
    <th>{{ 'navitiaUser.email'|trans }}</th>
    <th>{{ 'navitiaUser.creation_date'|trans }}</th>
    <th>{{ 'navitiaUser.actions'|trans }}</th>
{% endblock %}

{% block table_body -%}
    {% if users|length == 0 %}
        <tr>
            <td colspan="4">
                {{'global.no_items'|trans}}
            </td>
        </tr>
    {% endif %}
    {% for user in users %}
        <tr class="customer-row" customer-id="{{ user.id }}">
            <td><a href="{{ path('nmm_navitiaio_user_edit', { 'id': user.id }) }}">{{ user.name }}</a></td>
            <td>{{ user.email }}</td>
            <td>{{ user.created.format('d/m/Y') }}</td>
            <td class="action">
                <div class="btn-group">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                        <span class="caret"></span>
                        <span class="sr-only">{{'ctp_core.toggle_menu'|trans}}</span>
                    </button>
                    <ul class="dropdown-menu pull-right" role="menu">
                        <li>
                            <a class="danger" href="{{ path('nmm_navitiaio_user_listtokens', { 'id': user.id }) }}">
                                <span class="glyphicon glyphicon-check array"></span> {{'global.actions.listtokens'|trans}}
                            </a>
                        </li>
                    </ul>
                </div>
            </td>
        </tr>
    {% endfor %}
{% endblock %}

{% block list_pagination -%}
     <div class="pager">
        <li><a class="prev" href="#">&laquo;</a></li>
        <span class="pagedisplay"></span> <!-- this can be any element, including an input -->
        <li><a class="next" href="#">&raquo;</a></li>
    </div>
 {% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        require(['jquery_tablesorter_pager'], function(tableSorter) {
            $(function() {
                var pagerOptions = {
                    // target the pager markup - see the HTML block below
                    container: $(".pager"),
                    // output string - default is '{page}/{totalPages}'; possible variables: {page}, {totalPages}, {startRow}, {endRow} and {totalRows}
                    output: '{startRow} - {endRow} / {filteredRows} ({totalRows})',
                    // if true, the table will remain the same height no matter how many records are displayed. The space is made up by an empty
                    // table row set to a height to compensate; default is false
                    fixedHeight: true,
                    // remove rows from the table to speed up the sort of large tables.
                    // setting this to false, only hides the non-visible rows; needed if you plan to add/remove rows with the pager enabled.
                    removeRows: false,
                    // go to page selector - select dropdown that sets the current page
                    cssGoto: '.gotoPage',
                    size: 50
                };

                $("#table").tablesorter().tablesorterPager(pagerOptions);
            });
        });
    </script>
{% endblock %}
