{% extends "CanalTPSamCoreBundle::generic_list.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets 'bundles/canaltpsamcore/css/customer.css' %}
         <link rel="stylesheet" href="{{ asset_url }}?{{ assets_version }}" />
    {% endstylesheets %}
{% endblock %}

{% block left_menu -%}
    <a class="btn btn-default" href="{{ path('nmm_navitiaio_user') }}">
        <span class="glyphicon glyphicon-arrow-left"></span> 
        {{'navitiaUser.list'|trans}}
    </a>
{% endblock %}

{% block table_head -%}
    <th>{{ 'navitiaUser.token.label'|trans }}</th>
    <th>{{ 'navitiaUser.token.status'|trans }}</th>
    <th>{{ 'navitiaUser.token.regenerate'|trans }}</th>
{% endblock %}

{% block table_body -%}
    {% if tokens|length == 0 %}
        <tr>
            <td colspan="4">
                {{'global.no_items'|trans}}
            </td>
        </tr>
    {% endif %}
    {% for token in tokens %}
        {% set allowed = false %}
        <tr>
            <td>{{ token.token }}</td>
            {% if token.isActive %}
                {% set allowed = isTokenAllow(token.token, perimeters) %}
                {% if allowed %}
                    <td>{{'customer.token.enable'|trans}}</td>
                {% else %}
                    <td class="disable-token">{{'customer.token.unauthorized'|trans}}</td>
                {% endif %}
            {% else %}
                <td>{{'customer.token.disable'|trans}}</td>
            {% endif %}
            <td>
                {% if token.isActive %}
                    <a href="{{ path('nmm_navitiaio_user_regeneratetoken', { 'id': navEntityId }) }}">
                    <span class="glyphicon glyphicon-repeat array"></span>
                {% endif %}
            </a></td>
        </tr>
    {% endfor %}
{% endblock %}